<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="solr" type="org.apache.solr.SolrSharp.Configuration.SolrConfigurationSection, SolrSharp" allowLocation="true" allowDefinition="Everywhere"/>
  </configSections>

  <solr>
    <server mode="ReadWrite" url="http://localhost.:8983/solr/" />
  </solr>

<startup>
  <supportedRuntime version="v2.0.50727" sku=".NETFramework,Version=v3.5"/></startup>
</configuration>
